.Chat {
    position: relative;
    z-index: 2;
    margin-top: 40px;
    border: 1px solid rgba($color: #fff, $alpha: .2);
    border-radius: 16px;
    background: linear-gradient(0deg, #171717, #0D0D0D);
    overflow: hidden;


    &_wrapper {
        padding: 0px 8px;
    }

    &_content {
        min-height: 500px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        padding: 40px;
        position: relative;
        z-index: 2;

        @media(max-width: 900px) {
            min-height: 0px;
        }

        @media(max-width: 500px) {
            padding: 20px;
            padding-top: 40px;
            justify-content: center;
        }

    }

    &_header {
        margin-top: 32px;
        font-family: 'gt';
        width: 100%;
        font-size: 48px;

        @media(max-width: 500px) {
            font-size: 36px;
            text-align: center;
            margin-top: 16px;
        }
    }

    &_subheader {
        margin-top: 32px;
        font-size: 18px;
        max-width: 350px;
        color: rgba($color: #fff, $alpha: .5);

        @media(max-width: 500px) {
            font-size: 14px;
            text-align: center;
            margin-top: 16px;
        }
    }

    &_decor {
        width: 100% !important;
        justify-content: right !important;

        @media(max-width: 900px) {
            width: 100%;
            justify-content: center !important;
            align-items: end !important;
            height: 400px;

            @media(max-width: 500px) {
                height: 270px;
            }
        }

        &_phone {
            justify-content: right !important;
            align-items: end !important;
            right: 16px;

            @media(max-width: 900px) {
                right: 0px;
                justify-content: center !important;
            }

            img {
                width: 450px;

                @media(max-width: 500px) {
                    width: 300px;
                }
            }
        }

        &_light {
            align-items: end;
            left: -180px;

            @media(max-width: 900px) {
                left: 0px;
            }

            &_inner {
                min-width: 900px;
                min-height: 450px;
                border-radius: 100%;
                background: linear-gradient(to right, #3E46DE, #EE54E4);
                filter: blur(100px);
                rotate: -22.5deg;

                @media(max-width: 500px) {
                    min-width: 600px;
                    min-height: 200px;
                }
            }
        }
    }

}