.Hero {
    overflow: hidden;
    border-radius: 8px;
    margin-top: 24px;
    // background: #fff4;
    background: linear-gradient(to bottom, #0A0A0A, #0F0F0F);
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    border: 1px solid #fff4;

    &_wrapper {
        padding: 8px;
    }

    &_content {
        width: 90%;
        min-height: 280px;
        padding: 24px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        z-index: 2;

        div {
            width: 100%;
            text-align: center;
        }
    }

    &_header {
        font-family: 'GT';
        font-size: 24px;

        @media(max-width: 700px) {
            font-size: 18px;
        }
    }

    &_subheader {
        margin-top: 18px;
        font-family: 'GT';
        font-size: 48px;

        @media(max-width: 700px) {
            font-size: 40px;
            margin-top: 16px;
        }

        @media(max-width: 360px) {
            font-size: 36px;
            margin-top: 16px;
        }
    }

    &_text {
        margin-top: 36px;
        color: #fff8;
        max-width: 350px;
    }

    &_decor {

        &_left,
        &_right {
            pointer-events: none;
            min-width: 10px;
            min-height: 10px;
            // background: red;
        }

        &_large {
            pointer-events: none;
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 0px;
            flex-wrap: wrap;

        }

        &_left {
            &_char {
                left: 100px;

                @media(max-width: 800px) {
                    left: 0px;
                }

                img {
                    min-width: 300px;
                    rotate: -20deg;
                    animation: heroChar 20s infinite linear alternate;

                    @media(max-width: 800px) {
                        min-width: 200px;
                    }
                }
            }

            &_light {

                &_inner {
                    min-height: 300px;
                    min-width: 500px;
                    border-radius: 100%;
                    background: linear-gradient(to right, #4FFB55, #FF9601);

                    filter: blur(100px);
                    animation: heroLight 14s infinite linear;


                    @media(max-width: 800px) {
                        min-height: 150px;
                        min-width: 300px;
                        filter: blur(80px);
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        &_right {
            &_light {

                &_inner {
                    min-height: 300px;
                    min-width: 500px;
                    border-radius: 100%;
                    background: linear-gradient(to right, #4FFB55, #FF9601);
                    filter: blur(100px);
                    animation: heroLight 10s infinite linear;

                    @media(max-width: 800px) {
                        min-height: 150px;
                        min-width: 300px;
                        filter: blur(80px);
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        &_net {
            align-items: start;
            width: 100% !important;

            img {
                width: 100% !important;
                height: 300px;
                object-fit: cover;
            }
        }

        &_squares {
            align-items: start;
            width: 100% !important;

            img {
                width: 80% !important;
            }
        }
    }
}

@keyframes heroLight {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes heroChar {

    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(50px);
    }
}